{% extends "base.html" %}

{% block content %}
<div class="hey">
	<h1 class="pre-title">Hey, I'm Arslaan!</h1>
	<h3 class="title">I’m a 13-year-old developer exploring systems programming, Linux, FOSS, reverse-engineering, jailbreaking, and a bit of embedded systems.</h3>
</div>

<pre class="fastfetch wrap">
<span class="white">$ </span><span class="green">fastfetch</span>

<div class="fastfetch-row">
	<img src="/assets/images/Arslaan Pathan.svg" alt="Arslaan Pathan Logo" class="fastfetch-image">
	<div class="fastfetch-text">
		<p>I like computer science, writing stories (sometimes), Linux, FOSS (Free Open-Source Software), hacking, reverse-engineering and iOS jailbreaking. My favorite colour is yellow, and my favorite genre of music is Hyperpop, particularly Hyperpop-Digicore & Hyperpop-Glitchcore. I work on various projects in low-level development, system programming, and hardware hacking. I'm also active in <a target="_blank" href="https://hackclub.com">Hack Club</a>, a community of over 100,000+ teens around the world who code together. Come join the Slack and say hi!</p>
		<p>I mainly use Void Linux on my ThinkPad E16 Gen 3 (Intel Core Ultra 7 255H) with the bspwm tiling window manager along with picom, polybar, rofi, i3lock-color, sxhkd, and more. Currently, my dotfiles are not available on Git, but hopefully that will change in the near future. My favorite games are osu!, Minecraft and Stick Fight: The Game. I’ve been programming and tinkering with devices since somewhere around the age of six. What originally got me into programming was looking at my old iPad 2 (which I still have as of 2025, seven years later - it's now jailbroken with <a target="_blank" href="https://etasonjb.tihmstar.net">EtasonJB</a> because I felt like it) and saying – “how are these apps made?”</p>
		<p>Feel free to explore my projects, stories, and achievements, and thanks for stopping by!</p>
	</div>

</div>

</pre>

{% endblock content %}
